<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Company</th>
    <th>Price</th>
    <th>Revenue</th>
    <th>Ratings</th>
  </tr>

  <% @top_gross.each do |app| %>
      <tr>
        <td><%= image_tag app_icon(app), size:'48' %></td>
        <td><%=app.app_name %></td>
        <td><%=app.app_company %></td>
        <td><%=app.price %></td>
        <td><%=app.revenue_count%></td>
        <td><%=app.country_rating_cnt %></td>
      </tr>
  <% end %>
</table>
