<!DOCTYPE html>
<html>
<head>
  <title><%= yield (:title) %> | Top Charts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container">
    <div id="header">
    <div class="row">
      <h1>Top Charts</h1>
    </div>
    </div>
  </div>
      <!-- Navigation-->

    <%= render 'shared/navigation' %>

<!--      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <ul class="nav nav-pills nav-justified">
            <li><%= link_to "Paid", top_paid_index_path %></li>
            <li><%= link_to "Free", top_free_index_path %></li>
            <li><%= link_to "Top Grossing", top_grossing_index_path %></li>
          </ul>
        </div>
      </nav>-->


<div class="container">
  <%= yield %>
</div>

</body>
</html>
